@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    ::-webkit-scrollbar {
        width: 6px;
    }
     
    .dark ::-webkit-scrollbar-track{
            background-color: #202020;
    }
        

    ::-webkit-scrollbar-track{
            background-color: #fefefe;
        }
        
    ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #9500ff; 
        }
}